@import "variables";
@import "mixins";

:host {
  position: relative;
  width: 280px;
  height: 280px;
  display: block;

  &:before {
    content: '';
    position: absolute;
    top: -4px;
    bottom: -4px;
    right: -4px;
    left: -4px;
    background: linear-gradient(to right bottom,
      var(--player-record-gradient-start),
      var(--player-record-gradient-end));
    z-index: 0;
    border-radius: 50%;
    box-shadow:
      -11px -11px 44px rgba(255, 255, 255, 0.1),
      11px 11px 44px rgba(0, 0, 0, 0.5);
  }
}

.audio-record {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background: linear-gradient(to left top, #242527, #0a0a0a);

  &--playing {
    animation: 15s linear 0s infinite rotate-record;
  }
}

.audio-record-round {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: 10;
}

.audio-record-image {
  position: relative;
  width: 126px;
  height: 126px;
  border-radius: 50%;

  &:before {
    content: '';
    position: absolute;
    top: -4px;
    bottom: -4px;
    right: -4px;
    left: -4px;
    background: linear-gradient(to left top,
      var(--player-record-gradient-start),
      var(--player-record-gradient-end));
    z-index: 0;
    border-radius: 50%;
  }

  img {
    position: relative;
    z-index: 5;
    border-radius: 50%;
    @include fit-image;
  }
}

@keyframes rotate-record {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
