<div
  class="audio-record audio-record--playing"
>

  <div
    class="audio-record-round"
    [style.width.px]="round"
    [style.height.px]="round"
    *ngFor="let round of rounds"
  ></div>

  <div class="audio-record-image">
    <img [src]="imageUrl" alt="label">
  </div>
</div>
