@import "variables";

:host {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.auduo-list-header {

}

.auduo-list-holder {
  $this: &;
  position: relative;
  overflow: hidden;
  transition: .3s;

  &:after {
    content: '';
    position: absolute;
    background: linear-gradient(0deg, #181A1D 0%, rgba(24, 26, 29, .8) 60%, rgba(24, 26, 29, 0) 100%);
    height: 120px;
    right: 0;
    left: 0;
    bottom: 0px;
    z-index: 5;
    pointer-events: none;
    transition: .3s;
  }

  &--player-gap {
    padding-bottom: 120px;

    &:after {
      height: 300px;
    }
  }
}

.auduo-list {
  height: 100%;
  overflow: auto;
}

.mini-player {
  position: fixed;
  bottom: 32px;
  right: 16px;
  left: 16px;
  z-index: 10;
}
