<app-audio-list-header
class="auduo-list-header"
></app-audio-list-header>

<div
  class="auduo-list-holder"
  [ngClass]="{'auduo-list-holder--player-gap': isMiniPlayer}"
>
  <div class="auduo-list" >
    <app-audio-list-item
      *ngFor="let audio of audioList"
      [audio]="audio"
      [playingAudioId$]="playingAudioId$ | async"
      (toPlay)="playAudio($event)"
      (toPause)="setAudioOnPause($event)"
    ></app-audio-list-item>
  </div>
</div>

<app-audio-mini-player
  class="mini-player"
  *ngIf="isMiniPlayer"
  [@enterAnimation]
  (toPlay)="playAudio($event)"
  (toPause)="setAudioOnPause($event)"
></app-audio-mini-player>
