@import "variables";
@import "mixins";

:host {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-auto-flow: row;
  padding-left: var(--page-left-gap);
  padding-right: var(--page-right-gap);
}

.audio-player-header {
  margin-top: 32px;
  width: 100%;
}

.audio-player-back-btn {
  @include gradient-btn;
}

.app-audio-record {
  margin-top: 32px;
}

.audio-record-title {
  @include text-ellipsis;
  font-size: 32px;
  font-weight: 500;
  color: #EEF3FF;
  margin-top: 32px;
  background: linear-gradient(to left top, #8b939a, #b7c2d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 100%;
  line-height: 1.1;
}

.audio-record-author {
  @include text-ellipsis;
  font-size: 16px;
  color: #868FA4;
  margin-top: 8px;
  line-height: 1.1;
}

.time-line {
  margin-top: 56px;
}
