<div class="audio-player-header">
  <button
    class="audio-player-back-btn"
    routerLink="../audio-list">
      <i class="icon-app-left-1" ></i>
  </button>
</div>

<app-audio-record
  class="app-audio-record"
  [image]="imageUrl"
></app-audio-record>

<div class="audio-record-title">
  {{title}}
</div>

<div class="audio-record-author">
  {{author}}
</div>

<app-time-line
  class="time-line"
></app-time-line>
