@import "variables";
@import "mixins";

:host {
  display: block;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 16px;
}

.exit-btn {
  @include gradient-btn;
  color: var(--audio-list-item-title-author);
  width: 60px;
  height: 30px;
}
