[class^="icon-app-"] {
  display: block;
  line-height: 1;
}

[class^="icon-app-"].bold {
  &:before {
    font-weight: bold;
  }
}

[class^="icon-app-"]:before, [class*=" icon-app-"]:before {
  font-family: "app-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import '../assets/fonts/fontello/app-icons-codes.css';