@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap&subset=cyrillic');

@font-face {
  font-family: 'app-icons';
  src: url('/assets/fonts/fontello/app-icons.eot');
  src: url('/assets/fonts/fontello/app-icons.eot#iefix') format('embedded-opentype'),
       url('/assets/fonts/fontello/app-icons.woff2') format('woff2'),
       url('/assets/fonts/fontello/app-icons.woff') format('woff'),
       url('/assets/fonts/fontello/app-icons.ttf') format('truetype'),
       url('/assets/fonts/fontello/app-icons.svg#app-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
