@mixin fit-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin clickable-element {
  cursor: pointer;
  user-select: none;
  // hide all highlight by tap
  -webkit-tap-highlight-color: transparent;
  // hide all outlines by tap and click
  outline: none;
}

@mixin button-element {
  @include clickable-element;
  display: block;
  border: none;
  transition: .2s;
}

@mixin responsive-image {
  display: block;
  width: 100%;
  height: auto;
}

@mixin text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin position-absolute ($top, $right, $bottom, $left, $z-index: initial) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}

@function rem ($px) {
  @return ($px/16)+rem;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}


@mixin gradient-btn() {
  @include button-element;
  grid-column: controls;
  grid-row: 1/3;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  font-size: 18px;

  background: var(--audio-list-item-play-btn-bg);
  box-shadow:
    inset -4px -4px 17px var(--audio-list-item-play-btn-bs),
    inset 4px 4px 17px var(--audio-list-item-play-btn-bs2);

  i {
    background: linear-gradient(to left bottom, #3A3D44, rgba(255, 255, 255, 0.5));
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &:before {
      display: block;
    }
  }
}
