$black_70: rgba(0, 0, 0, 0.7);
$white: rgba(255, 255, 255, 1);
$link: #673ab7;


// css variables
:root {
  --page-left-gap: 16px;
  --page-right-gap: 16px;

  // scroll style
  --scrollbar-track: #1e2024;

  // common
  --bg-color: linear-gradient(180deg, #34393F 0%, #181A1D 100%);

  // audio-list-item
  --audio-list-item-title-color: #BCC5DA;
  --audio-list-item-title-color__active: #EEF3FF;
  --audio-list-item-title-author: #868FA4;
  --audio-list-item-title-author__active: #B8C0D2;
  --audio-list-item-image-border-gradient-start: rgba(255, 255, 255, 0.1);
  --audio-list-item-image-border-gradient-end: rgba(0, 0, 0, 0.5);
  --audio-list-item-split-line-bg: rgba(53, 56, 64, 0.8);
  --audio-list-item-split-line-box-shadows: rgba(0, 0, 0, 0.3);
  --audio-list-item-play-btn-bg: #27292E;
  --audio-list-item-play-btn-bs: rgba(255, 255, 255, 0.04);
  --audio-list-item-play-btn-bs2: rgba(0, 0, 0, 0.5);


  // mini player
  --mini-player-bg: #151719;

  // player
  --player-record-bg: #1A1A1A;
  --player-record-gradient-start: rgba(255, 255, 255, 0.2);
  --player-record-gradient-end: #000;

}


@media (prefers-color-scheme: dark) {
}

@media (prefers-color-scheme: light) {
}
