@import '~normalize.css';

@import 'mixins.scss';
@import 'variables.scss';
@import 'reset.scss';

@import 'fonts.scss';
@import "fontello";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Rubik, "Helvetica Neue", sans-serif;
}

/* scroll style */
::-webkit-scrollbar-button {
	background-repeat: no-repeat;
  width: 0px;
  height: 100%;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
	background-position: center;
	background-repeat: no-repeat;
}

::-webkit-resizer {
	background-repeat: no-repeat;
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar {
	width: 0px;
}
