<div class="form-upload">
  <form [formGroup]="fileFormGroup" (ngSubmit)="submit()" >
    <input type="file" #fileInput accept="audio/mp3" (change)="onFileSelect($event)" >
    <br>
    <br>
    <button [disabled]="fileFormGroup.invalid">Load</button>
  </form>
</div>
