@import "variables";
@import "mixins";

.time-line {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 8px;
  align-items: center;

  &__time {
    font-size: 12px;
    color: #868FA4;
  }
}

.time-line-graphic {
  display: grid;
  column-gap: 4px;
  align-items: center;
  grid-auto-flow: column;

  &__item {
    width: 6px;
    border-radius: 4px;
    background: #212427;
    box-shadow: inset -2px 2px 4px #000000;
    transition: .4s ease-in-out;

    &.active {
      background: #BCC5DA;
      box-shadow: inset -2px 2px 4px #3A3D44, inset 2px 0px 4px rgba(255, 255, 255, 0.1);
    }
  }

}
