<div class="time-line">
  <div class="time-line__time">1:13</div>
  <div class="time-line-graphic">
    <div
      class="time-line-graphic__item"
      *ngFor="let line of timeLine"
      [style.height.px]="line.height"
      [ngClass]="{'active': line.active}"
    ></div>
  </div>
  <div class="time-line__time" >4:57</div>
</div>
