@import "variables";
@import "mixins";

.mini-payer {
  $this: &;
  background: var(--mini-player-bg);
  border-radius: 14px;
  padding: 16px;
  position: relative;
  display: grid;
  grid-template-columns: [image] auto [labels] 1fr [controls] auto;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  column-gap: 16px;
  row-gap: 6px;
  user-select: none;

  &:before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: linear-gradient(to right bottom,
      var(--audio-list-item-image-border-gradient-start),
      var(--audio-list-item-image-border-gradient-end));
    z-index: -1;
    border-radius: 14px;
  }

  &__image {
    position: relative;
    grid-column: image;
    height: 57px;
    width: 57px;
    grid-row: 1/3;
    padding: 2px;
    background: linear-gradient(to left top,
      var(--audio-list-item-image-border-gradient-start),
      var(--audio-list-item-image-border-gradient-end));
    box-shadow:
      -11px -11px 44px var(--audio-list-item-image-border-gradient-start),
      11px 11px 44px var(--audio-list-item-image-border-gradient-end);
    border-radius: 8px;

    img {
      @include fit-image;
      border-radius: 8px;
    }
  }

  &__title {
    @include text-ellipsis;
    grid-column: labels;
    color: var(--audio-list-item-title-color__active);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    align-self: flex-end;
    transition: ease .1s;
  }

  &__author {
    @include text-ellipsis;
    grid-column: labels;
    color: var(--audio-list-item-title-author__active);
    font-size: 16px;
    line-height: 1.1;
    align-self: flex-start;
    transition: ease .1s;
  }

}

.mini-payer-play-btn {
  @include button-element;
  grid-column: controls;
  grid-row: 1/3;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-size: 18px;

  background: #FF5468;
  box-shadow: inset -4px -4px 17px rgba(255, 216, 220, 0.3), inset 4px 4px 17px #E23247;

  i {
    color: $white;
  }

  .play-icon {
    margin-left: -2px;
  }

  .pause-icon {
    font-size: 20px;
  }
}
