<div class="mini-payer" (swipe)="onSwipe()" >
  <div class="mini-payer__image" >
    <img [src]="audio.imageUrl" alt="label">
  </div>

  <div class="mini-payer__title">
    {{audio.originalname}}
  </div>
  <div class="mini-payer__author">
    {{audio.author}}
  </div>

  <button
    class="mini-payer-play-btn"
    (click)="changePlayState()">
      <i class="icon-app-play-radius play-icon" *ngIf="!isPlaying" ></i>
      <i class="icon-app-pause pause-icon" *ngIf="isPlaying" ></i>
  </button>
</div>
