@import "variables";
@import "mixins";

.audio-preview {
  $this: &;
  position: relative;
  display: grid;
  grid-template-columns: [image] auto [labels] 1fr [decor] auto [controls] auto;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  column-gap: 16px;
  row-gap: 6px;
  border-radius: 8px;
  padding: 16px 32px 18px 32px;
  user-select: none;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 32px;
    left: 32px;
    height: 2px;
    background: var(--audio-list-item-split-line-bg);
    box-shadow: inset 0px 1px 1px var(--audio-list-item-split-line-box-shadows);
    border-radius: 2px;
  }

  &__image {
    position: relative;
    grid-column: image;
    height: 57px;
    width: 57px;
    grid-row: 1/3;
    padding: 2px;
    background: linear-gradient(to left top,
      var(--audio-list-item-image-border-gradient-start),
      var(--audio-list-item-image-border-gradient-end));
    box-shadow:
      -11px -11px 44px var(--audio-list-item-image-border-gradient-start),
      11px 11px 44px var(--audio-list-item-image-border-gradient-end);
    border-radius: 8px;

    img {
      @include fit-image;
      border-radius: 8px;
    }
  }

  &__title {
    @include text-ellipsis;
    grid-column: labels;
    color: var(--audio-list-item-title-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    align-self: flex-end;
    transition: ease .1s;
  }

  &__author {
    @include text-ellipsis;
    grid-column: labels;
    color: var(--audio-list-item-title-author);
    font-size: 16px;
    line-height: 1.1;
    align-self: flex-start;
    transition: ease .1s;
  }

  &--playing {
    #{$this}__title {
      color: var(--audio-list-item-title-color__active);
    }

    #{$this}__author {
      color: var(--audio-list-item-title-author__active);
    }
  }
}

.audio-preview-play-btn {
  @include gradient-btn;

  .play-icon {
    margin-left: -2px;
  }

  .pause-icon {
    font-size: 20px;
  }
}

.audio-preview-decor {
  grid-column: decor;
  display: grid;
  grid-auto-flow: column;
  column-gap: 2px;
  grid-row: 1/3;
  align-items: flex-end;
  height: 16px;

  &__item {
    background: #FF5468;
    border-radius: 4px;
    height: 20px;
    width: 4px;

    &:nth-child(1) {
      animation: 0.2s linear 0s infinite alternate move_line;
    }

    &:nth-child(2) {
      animation: 0.3s linear 0s infinite alternate move_line2;
    }

    &:nth-child(3) {
      animation: 0.4s linear 0s infinite alternate move_line3;
    }
  }
}

@keyframes move_line {
  from { height: 16px; } to { height: 12px; }
}

@keyframes move_line2 {
  from { height: 7px; } to { height: 12px; }
}

@keyframes move_line3 {
  from { height: 11px; } to { height: 15px; }
}
