<div
  class="audio-preview"
  [ngClass]="{
    'audio-preview--playing': isPlaying
  }"
>
  <div class="audio-preview__image">
    <img [src]="audio.imageUrl" alt="label">
  </div>

  <div class="audio-preview__title">
    {{audio.originalname}}
  </div>
  <div class="audio-preview__author">
    {{audio.author}}
  </div>

  <div class="audio-preview-decor" *ngIf="isPlaying">
    <div class="audio-preview-decor__item"></div>
    <div class="audio-preview-decor__item"></div>
    <div class="audio-preview-decor__item"></div>
  </div>

  <button
    class="audio-preview-play-btn"
    (click)="changePlayState()">
      <i class="icon-app-play-radius play-icon" *ngIf="!isPlaying" ></i>
      <i class="icon-app-pause pause-icon" *ngIf="isPlaying" ></i>
  </button>
</div>
