<div class="register-screen">

  <div class="form-holder">
    <div class="form-title">
      Register
    </div>

    <form
      class="example-form"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="row">
        <div class="col">
          <mat-form-field class="input-holder" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Email"
              autocomplete="email"
              formControlName="email"
            >
            <mat-error *ngIf="email.hasError('email')">
              Email is <strong>not valid</strong>
            </mat-error>
            <mat-error *ngIf="email.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col">
          <mat-form-field class="input-holder" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Password"
              type="password"
              autocomplete="password"
              formControlName="password"
            >
            <mat-error *ngIf="password.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="password.hasError('minlength')">
              Password must be at least <strong>6</strong> characters long.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row justify-content-between align-items-end mt-2">
        <div class="col-auto">
          <a routerLink="/login" class="link" >Go to <b>login</b></a>
        </div>
        <div class="col-auto">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="registerForm.invalid || registerForm.disabled"
          >
            Send
          </button>
        </div>
      </div>

    </form>

  </div>

</div>
