@import "variables";

.login-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('/assets/common/auth_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.form-holder {
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
  background: $white;
  width: 400px;
  max-width: 100%;
  margin: 20px;
}

.input-holder {
  width: 100%;

  // hide autocomplete backround
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}

.link {
  color: $link;
}
