
.icon-app-play:before { content: '\e800'; } /* '' */
.icon-app-pause:before { content: '\e801'; } /* '' */
.icon-app-pause-1:before { content: '\e802'; } /* '' */
.icon-app-search:before { content: '\e803'; } /* '' */
.icon-app-cancel:before { content: '\e804'; } /* '' */
.icon-app-cancel-1:before { content: '\e805'; } /* '' */
.icon-app-heart:before { content: '\e806'; } /* '' */
.icon-app-heart-1:before { content: '\e807'; } /* '' */
.icon-app-heart-2:before { content: '\e808'; } /* '' */
.icon-app-dot-3:before { content: '\e809'; } /* '' */
.icon-app-menu-1:before { content: '\e80a'; } /* '' */
.icon-app-left:before { content: '\e80b'; } /* '' */
.icon-app-right:before { content: '\e80c'; } /* '' */
.icon-app-down:before { content: '\e80d'; } /* '' */
.icon-app-up:before { content: '\e80e'; } /* '' */
.icon-app-left-1:before { content: '\e80f'; } /* '' */
.icon-app-up-1:before { content: '\e810'; } /* '' */
.icon-app-down-1:before { content: '\e811'; } /* '' */
.icon-app-right-1:before { content: '\e812'; } /* '' */
.icon-app-rewind:before { content: '\e813'; } /* '' */
.icon-app-fast-fw:before { content: '\e814'; } /* '' */
.icon-app-play-radius:before { content: '\e815'; } /* '' */
.icon-app-menu:before { content: '\f0c9'; } /* '' */